<!-- wp:template-part {"slug":"header","theme":"construction-and-renovation","tagName":"header"} /-->

<!-- wp:pattern {"slug": "construction-and-renovation/header-011"} /-->

<!-- wp:pattern {"slug": "construction-and-renovation/content-022"} /-->

<!-- wp:pattern {"slug": "construction-and-renovation/content-023"} /-->

<!-- wp:pattern {"slug": "construction-and-renovation/content-024"} /-->

<!-- wp:pattern {"slug": "construction-and-renovation/content-025"} /-->

<!-- wp:pattern {"slug": "construction-and-renovation/cta-006"} /-->

<!-- wp:template-part {"slug":"footer","theme":"construction-and-renovation","area":"footer"} /-->